NUXT_BASE_URL=http://localhost:3000
NUXT_DATABASE_URL=postgresql://user:password@localhost:5432/calltoarms
NUXT_TWITCH_CLIENT_ID=
NUXT_TWITCH_CLIENT_SECRET=
NUXT_VAPID_PUBLIC_KEY=
NUXT_VAPID_PRIVATE_KEY=
NUXT_VAPID_EMAIL=
NUXT_BETTER_AUTH_SECRET=
NUXT_PUBLIC_VAPID_PUBLIC_KEY=
NUXT_STEAM_API_KEY=
NUXT_MICROSOFT_CLIENT_ID=
